* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* home page styleing */
navbar {
  background-color: #0F172A !important;
}

.homepage {
    height: 100vh;
    background-color: #f1f3f5;
    
}

.name_style {
    color: #343a40;
    font-weight: bold;
}

.intro {
    font-size: 20px;
    font-weight: 500;
}


/* about me section styleing */
.aboutme {
    background-color: #bad2ebbd;
}

.aboutimgstyle img {
    border-radius: 15px;

}

.abouthead {
    font-size: 30px;
    font-weight: 700;
}

.mydescrip {
    color: black;
    font-size: 20px;
    text-align: justify;
}

/* skill section */
.skill-container {
    background-color: rgba(116, 156, 197, 0.2);
    height: 100%;
    border-radius: 20px;
}

.skill-head {
    font-size: 30px;
    font-weight: bold;
}

.html-img {
    width: 40%;

}

.skill-img-style {
    border-radius: 20px;
    /* background:linear-gradient(135deg, #749cc5b0, #93fadbc2); */
    background-color:#e2e8f069;
    padding:10px;
}

.skill-text {
    /* text-align: center; */
    margin-top: 10px;
    font-size: 20px;
    color:rgb(0, 0, 0);
    font-weight: bold;
}


/* project section styleing */
.project-section {
    height: 100%;
    background-color: #f8f9fa;
}

.project-head {
    font-size: 30px;
    font-weight: bold;
}

.pro-img-style {
    border-radius: 10px;
}

.pro-image-style {
    border-radius: 8px;
}

.pro-card {
    background-color: rgba(225, 237, 249, 0.4);
    border-radius: 10px;
    padding:10px;
}

.pro-title{
    font-size: 20px;
    color:rgb(56, 54, 51);
    font-weight: bold;
}

.pro-descrip ul{
    margin-left: 15px;
}

.outer-link{
    color:grey;
}

.outer-link:hover{
    text-decoration: none !important;
    color:white;
}

/* footer section styling */
.footer-sec{
    height: 100%;
    background-color: rgba(116, 156, 197, 0.2);
}

.foot-head{
    font-weight: bold;
    font-size: 18px
}
.createdby{
    font-weight: bold;
    font-size:18px;
    text-align: center;
    background-color: #b8cbdeb0;
    color:black;
}

.footername-style{
    font-weight: bold;
    font-size: 18px;
    color:black;
}
.project-section img{
    height:220px;
    object-fit:cover;
}

.card{
    border:none;
    border-radius:12px;
}

.card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}